<template>
   <section class="usp-item">
     <header>
        <h2>{{ title }}</h2>
     </header>
      <div>
        <slot>No content</slot>
      </div>
      <footer>
        <el-button>{{ $t('common.readMore') }}</el-button>
      </footer>
    </section>
</template>

<script>
export default {
  name: 'UspItem',
  props: {
    title: String,
  },
};
</script>

<style>
  .usp-item {
    display: grid;
    grid-template-rows: auto  1fr auto;
    padding: 2rem 0;
  }

  .usp-item > footer {
    text-align: center;
  }

  .usp-item > header > h2 {
    text-align: center;
    font-size: 1.8em;
  }

  .usp-item > div {
    text-align: justify;
    line-height: 1.5em;
    font-size: 1.1em;
    padding: 20px 0;
  }
</style>
