<template>
  <section class="tile -players">
    <header>
      <h2>{{ $t('message.myPlayers') }}</h2>
    </header>
    <div v-for="player in $store.state.players" :key="player.id">
      <div>{{ player.id }}</div>
    </div>
  </section>
</template>

<script>
import actions from '@/constants/actions';

export default {
  name: 'Players',
  mounted() {
    this.$store.dispatch(actions.FETCH_PLAYERS);
  },
};
</script>

<style>
  .tile {
    padding: 1em;
    background: lightgray;
  }

  .tile h2 {
    margin: 0;
  }
</style>
