<template>
  <section class="tile -teams">
    <header>
      <h2>{{ $t('message.myTeams') }}</h2>
    </header>
  </section>
</template>

<script>
export default {
  name: 'Teams',
};
</script>

<style>
  .tile {
    padding: 1em;
    background: lightgray;
  }

  .tile h2 {
    margin: 0;
  }
</style>
