<template>
  <section :style="styleObject" class="fixed-grid-container">
    <slot>No content</slot>
  </section>
</template>

<script>
export default {
  name: 'FixedGridContainer',
  props: {
    templateColumns: String,
    gap: String,
  },
  data() {
    return {
      styleObject: {
        display: 'grid',
        gridTemplateColumns: this.templateColumns,
        gridGap: this.gap,
      },
    };
  },
};
</script>

<style lang="scss">
  @import "~element-ui/packages/theme-chalk/src/common/var.scss";
  @import "~element-ui/packages/theme-chalk/src/mixins/mixins.scss";

  .fixed-grid-container {
     width: 100%;

    @include res('sm') {
      width: $--sm;
      margin: 0 auto;
    }

    @include res('md') {
      width: $--md;
    }

    @include res('lg') {
      width: $--lg;
    }

    @include res('xl') {
      width: $--xl;
    }
  }
</style>
