@import "./_element-variables.scss";

/* Css variables */
:root {
  --primary: #fff;
  --secondary: #fff;
  --breakpoint-xs: 0;
  --breakpoint-md: 0;
  --breakpoint-lg: 0;
  --breakpoint-xl: 0;
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-size-base: 15px;
  --line-height-base: 1.5;
  --bg-color-base: #fff;
  --light: #eaeaea;
  --dark: #333;
  --black: #000;
  --white: #fff;
}


/* Reset all element to boxsize border-box */
*,
::before,
::after {
  box-sizing: border-box;
}

/* Base styling */
body {
  margin: 0;
  background: var(--bg-color-base);
  color: $--color-text-regular;
  font-family: var(--font-family-sans-serif);
  line-height: var(--line-height-base);
  -webkit-font-smoothing: antialiased;
  font-size: var(--font-size-base);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.2;
}

p {
  margin: 0 0 1rem;
}
