@import "./core.scss";
@import "./custom-theme.scss";

.grid {
  @include res(sm) {
    display: grid;
    grid-template-columns: 1fr repeat(2, $--sm / 2 - 40) 1fr;
  }

  @include res(md) {
    grid-template-columns: 1fr repeat(2, $--md / 2 - 40) 1fr;
  }

  @include res(lg) {
    grid-template-columns: 1fr repeat(2, $--lg / 2 - 40) 1fr;
  }

  @include res(xl) {
    grid-template-columns: 1fr repeat(2, $--xl / 2 - 40) 1fr;
  }
}

.container {
  padding: 0 20px 0;

  @include res(sm) {
    grid-column: 2/4;
    padding: 0;
  }
}

.container.-full {
  width: 100%;
  padding: 0;

  @include res(sm) {
    grid-column: 1/5;
  }
}
