<template>
  <div class="base-layout grid">
    <header class="container -full">
      <slot name="header"></slot>
    </header>
    <main class="container -full">
      <slot></slot>
    </main>
    <footer class="container -full">
      <slot name="footer"></slot>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'BaseLayout',
};
</script>
