<template>
  <el-row>
    <el-col :span="12" :offset="6">
      <h1>Opret klub</h1>
      <div v-if="error">
        <el-alert :title="error" type="error" show-icon :closable="false" />
        <br/>
      </div>
      <el-form :model="form" :rules="rules" ref="form" label-width="120px">
        <el-form-item label="Klub navn" prop="clubName">
          <el-input v-model="form.name" :maxlength="32"/>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="create">Opret</el-button>
        </el-form-item>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import ClubService from '@/services/ClubService';

export default {
  name: 'CreateClub',
  data() {
    return {
      error: null,
      form: {
        name: '',
      },
      rules: {
        name: [
          { required: true, message: 'Skal udfyldes', trigger: 'blue' },
          { max: 32, message: 'Er for langt (max 32 tegn)', trigger: 'blur' },
          { min: 2, message: 'Er for kort (mindst 2 tegn)', trigger: 'blur' },
        ],
      },
    };
  },
  methods: {
    async create() {
      let valid = false;

      // Validate fields
      try {
        valid = await this.$refs.form.validate();
      } catch (err) {
        return;
      }

      // If fields was valid, call register api
      if (valid) {
        try {
          await ClubService.createClub({
            name: this.form.name,
          });
        } catch (err) {
          this.error = err.response.data.error;
        }
      }
    },
  },
};
</script>

<style scoped>
</style>
