<template>
  <div class="dashboard">
    <players />
    <clubs />
    <teams />
  </div>
</template>

<script>
import Players from '@/components/tiles/Players';
import Clubs from '@/components/tiles/Clubs';
import Teams from '@/components/tiles/Teams';

export default {
  name: 'Dashboard',
  methods: {
    handleClick(routerName) {
      this.$router.push({ name: routerName });
    },
  },
  components: {
    Players,
    Clubs,
    Teams,
  },
};
</script>

<style>
  .dashboard {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
</style>
