<template>
  <div>
    <banner />
    <div class="grid">
      <div class="container">
        <usp />
      </div>
    </div>
  </div>
</template>

<script>
import Banner from '@/components/Banner';
import Usp from '@/components/Usp';

export default {
  name: 'Home',
  components: {
    Banner,
    Usp,
  },
};
</script>
