<template>
  <el-row>
    <el-col :span="12" :offset="6">
      <h1>Log ind</h1>
      <div v-if="error">
        <el-alert :title="error" type="error" show-icon :closable="false" />
        <br/>
      </div>
      <el-form :model="form" ref="form" label-width="120px">
        <el-form-item label="E-mail" prop="email">
          <el-input type="email" v-model="form.email" :maxlength="128" ref='email' />
        </el-form-item>
        <el-form-item label="Adgangskode" prop="password">
          <el-input type="password" v-model="form.password" :maxlength="64" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="login">Log ind</el-button>
        </el-form-item>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService';

export default {
  name: 'Login',
  data() {
    return {
      error: null,
      form: {
        email: '',
        password: '',
      },
    };
  },
  methods: {
    async login() {
      try {
        const response = await AuthenticationService.login({
          uniqueKey: this.form.email,
          password: this.form.password,
        });
        const { data } = response;
        this.$store.dispatch('setToken', data.token);
        this.$store.dispatch('setUser', data.user);
        this.$router.push({ name: 'Dashboard' });
      } catch (error) {
        this.error = error.response.data.error;
      }
    },
  },
  mounted() {
    this.$refs.email.focus();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
