<template>
  <div class="main-footer-component">
      &copy; 2018 by Lars Wetendorff Nielsen
  </div>
</template>

<script>
export default {
  name: 'MainFooter',
};
</script>

<style>
  .main-footer-component {
    color: var(--white);
    background: var(--black);
    text-align: center;
    padding: 1rem;
  }
</style>
