<template>
  <el-row>
    <el-col :span="12" :offset="6">
      <h1>Opret bruger</h1>
      <div v-if="error">
        <el-alert :title="error" type="error" show-icon :closable="false" />
        <br/>
      </div>
      <el-form :model="form" :rules="rules" ref="form" label-width="120px">
        <el-form-item label="Fulde navn" prop="fullName">
          <el-input v-model="form.fullName" :maxlength="64"/>
        </el-form-item>
        <el-form-item label="Telefonnummer" label-width="120px" prop="phone">
          <el-input v-model="form.phone" :maxlength="64"/>
        </el-form-item>
        <el-form-item label="E-mail" label-width="120px" prop="email">
          <el-input type="email" v-model="form.email" :maxlength="128"/>
        </el-form-item>
        <el-form-item label="Adgangskode" label-width="120px" prop="password">
          <el-input type="password" v-model="form.password" :maxlength="64"/>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="register">Opret</el-button>
        </el-form-item>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService';

export default {
  name: 'Register',
  data() {
    return {
      form: {
        fullName: '',
        phone: '',
        email: '',
        password: '',
      },
      rules: {
        fullName: [
          { required: true, message: 'Skal udfyldes', trigger: 'blue' },
          { max: 64, message: 'Er for langt (max 64 tegn)', trigger: 'blur' },
        ],
        phone: [
          { required: true, message: 'Skal udfyldes', trigger: 'blue' },
          { min: 7, message: 'Er for kort (mindst 7 tegn)' },
          { max: 20, message: 'Er for langt (max 20 tegn)' },
        ],
        email: [
          { required: true, message: 'Skal udfyldes', trigger: 'blue' },
          { type: 'email', message: 'Indtast en gyldig emailadresse' },
        ],
        password: [
          { required: true, message: 'Skal udfyldes', trigger: 'blue' },
          { min: 8, message: 'Er for kort (mindst 8 tegn)' },
        ],
      },
      error: null,
    };
  },
  methods: {
    async register() {
      let valid = false;

      // Validate fields
      try {
        valid = await this.$refs.form.validate();
      } catch (err) {
        return;
      }

      // If fields was valid, call register api
      if (valid) {
        try {
          await AuthenticationService.register({
            fullName: this.form.fullName,
            phone: this.form.phone,
            email: this.form.email,
            password: this.form.password,
          });
        } catch (err) {
          this.error = err.response.data.error;
        }
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
