<template>
  <div class="top-menu-component grid">
    <div class="container">
      <div class="menu-item">
        <router-link :to="{ name: 'Home' }" class="logo">
          <logo height="100%" width="200px" iconColor="#fff"/>
        </router-link>
      </div>
      <div v-if="!$store.state.isUserLoggedIn" class="menu-item">
        <router-link :to="{ name: 'Register' }" class="menu-item signup">Opret profil</router-link>
      </div>
      <div v-if="!$store.state.isUserLoggedIn" class="menu-item">
        <router-link :to="{ name: 'Login' }" class="menu-item login">Log på</router-link>
      </div>
      <div v-if="$store.state.isUserLoggedIn" class="menu-item">
        <router-link :to="{ name: 'Dashboard' }" class="menu-item dashboard">Dashboard</router-link>
      </div>
      <div v-if="$store.state.isUserLoggedIn" class="menu-item">
        <el-dropdown @command="handleCommand">
          <span class="el-dropdown-link">
            {{$store.state.user.fullName}}<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="logout">Log ud</el-dropdown-item>
            <el-dropdown-item>Profil</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '@/components/icons/Logo';

export default {
  name: 'TopMenu',
  components: {
    Logo,
  },
  methods: {
    handleCommand(command) {
      switch (command) {
        case 'logout': this.logout(); break;
        default:
      }
    },
    logout() {
      this.$store.dispatch('setToken', null);
      this.$store.dispatch('setUser', null);
      this.$router.push({ name: 'Home' });
    },
  },
};
</script>

<style lang="scss">
  @import "../styles/element-variables";

  .top-menu-component {
    background: $--color-primary;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
      0 4px 5px 0 rgba(0,0,0,.14),
      0 1px 10px 0 rgba(0,0,0,.12);
      opacity: .97;

    .router-link-active:not(.logo) {
      color: $--color-white;
      background-color: $--color-primary-light-1;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.4rem 0;
    }

    .menu-item {
      line-height: 0;
    }
  }
</style>
