<template>
  <div class="usp-component">
    <usp-item :title="$t('usp.organise')">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Optio qui dolorum tempore nobis fugit in incidunt, sapiente laborum sit, deleniti
      nemo perferendis aperiam inventore.
    </usp-item>

    <usp-item :title="$t('usp.communicate')">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, excepturi vero, quae
      iure natus, magni reiciendis similique aliquid voluptatem molestias architecto dolor.
    </usp-item>

    <usp-item :title="$t('usp.connect')">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis provident cupiditate
      repellendus qui repellat eos numquam nostrum sit, illum sapiente magni pariatur!
      illum sapiente magni pariatur!
    </usp-item>
  </div>
</template>

<script>
import UspItem from '@/components/usp/UspItem';

export default {
  name: 'Usp',
  components: {
    UspItem,
  },
};
</script>

<style lang="scss">
  @import "../styles/custom-theme.scss";

  .usp-component {
    @include res(sm) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
    }

    @include res(md) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include res(lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include res(xl) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
