<template>
  <div id="app">
    <base-layout>
      <template slot="header">
        <top-menu />
      </template>
      <router-view/>
      <template slot="footer">
        <main-footer />
      </template>
    </base-layout>
  </div>
</template>

<script>
import TopMenu from '@/components/TopMenu';
import BaseLayout from '@/components/layouts/BaseLayout';
import MainFooter from '@/components/MainFooter';

export default {
  name: 'App',
  components: {
    TopMenu,
    BaseLayout,
    MainFooter,
  },
};
</script>
